:root {
    --bs-btn-hover-bg: #1ABC9C;
}

.width-200 {
    width: 200px;
}

.bg-light-marine {
    background-color: #1ABC9C;
}

.text-light-marine {
    color: #1ABC9C;
}

.text-grey{
    color: #2C3E50;
}

.bg-light-grey {
    background-color: #3A546D;
}

.bg-grey {
    background-color: #2C3E50;
}

.border-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: black;
}

.font-0_7 {
    font-size: 0.7rem;
}

.border-star-l{
    width: 100px;
    height: 0px;
    border: 1px solid ;
}

.border-star{
    width: 70px;
    height: 0px;
    border: 1px solid ;
}

.fa-star{
    margin: 0 .5rem;
}