@media screen and (min-width:769px) {

    .navbar-nav{
        display: flex;
        flex-direction: row;
    }
    
    .fa-star-md{
        margin: 0 1.5rem;
    }

    .fa-star_s-md{
        margin: 0 1rem;
    }
}